@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-300 text-zinc-900 w-screen h-screen overflow-x-hidden;
}

h3 {
  @apply text-3xl font-bold;
}

.animate-fade-in {
  animation: fadeIn 150ms ease forwards;
}

.animate-fade-in-transform {
  animation: fadeInTransform 150ms ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInTransform {
  from {
    transform: scale(0.7);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}